*{
	box-sizing: border-box;
}
html,body{
	margin: 0px;
	padding: 0px;
	background-image: url(../images/theskyb.jpg);
}
header{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: black;
	width: 100%;
	min-height: 50px;;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}
header .logo{
	color: white;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	float: left;
	font-weight: bold;
}
header nav{
	float:right;
}
header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}
header nav ul li{
	list-style: none;
}
header nav ul li a{
	height: 50px;
	line-height: 50px;
	padding: 0 40px;
	color: white;
	text-decoration: none;
	display: block;
}
header nav ul li a:hover{
	color:#919191;
}
header nav ul li a.activepage{
	color:white;
	background:#919191;
}
.menu-toggle{
	color: white;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media (max-width: 1140px){
	header{
	padding: 0 40px
}
.menu-toggle{
	display: block;
}
header nav{
	position:absolute;
	width: 100%;
	height: calc(100vh + 50px);
	background: #919191;
	top:50px;
	right: 100%;
	transition: 0.5s;
	}
header nav.active{
	right: 0;
	}
header nav ul{
	display: block;
	text-align: center;
}
header nav ul li a{
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 9em;
	color: white;
}
h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin: 0;
	padding-top:20px;
	font-size: 3em;
	color: white;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	color: white;
}
.textcalculatorsection, .introsection{
	margin-top: 12rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 5rem;
}
.introduction, .calculatortext{
	width: 80%;

}
.introduction h1{
	padding-bottom: 0.3rem;
}
.calculatortext h1{
	padding-bottom: 0.3rem;
}
.calculatorsection{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	padding-bottom: 5rem;

}
.calculatorcontainer{
	background-color: #919191;
	padding-left: 12rem;
	padding-right: 12rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	border-radius: 25px;
	box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.6);
}
input{
	height:5vh;
	width: auto;
	font-size: 1.2em;
}
.btn1, .btn2, .btn3, .btn4{
	margin: 0;
	padding: 0;
	height: 5vh;
	width: auto;
	font-size: 1.2em;
	margin: 4px 2px;
	cursor: pointer;
}
.displayresult{
	margin-top: 1rem;
}
.displayresult ul{
	padding: 0;
	margin: 0;
	display:flex;
	justify-content: center;
	flex-direction: column;
}
.displayresult li{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin: 0;
	padding-top: 5px;
	font-size: 1.2em;
	color: white;
}
